* {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    /* background-color: #363543; */
}

/* UPPER: NAVIAGTION AND UPPER-PART */

.upper {
    /* border: 2px solid blue; */
    height: 438px;
}

.upper::before {
    background-color: #363543;
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 450px;
}

/* HEADER: LOGO, NAVBAR AND ICONS */

header {
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    margin: 12px 65px;
    padding: 13px 94px;
    position: relative;
}

.logo {
    /* border: 2px solid green; */
    display: flex;
    align-items: center;

}

.logo img {
    /* border: 2px solid red; */
    width: 25px;
}

.logo h2 {
    /* border: 2px solid yellow; */
    margin: 0 2px;
    font-family: 'Baloo 2', cursive;
}

nav {
    /* border: 2px /solid orange; */
    margin: 0 70px;
}

nav ul {
    display: flex;
}

nav ul li {
    padding: 0 20px;
    list-style: none;
    font-size: 1.2rem;
}

nav ul li a {
    font-family: 'Baloo 2', cursive;
    color: #838393;
}

.icons {
    /* border: 2px solid blue; */
    width: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 94px;
}

.icons a {
    display: flex;
    justify-content: center;
    align-items: center;

}

.icons img {
    width: 15px;
    filter: invert(90%);
}

.upper-part {
    /* border: 2px solid blue; */
    margin: 30px 65px 0px;
    padding: 23px 94px 64px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: relative
}

.intro {
    /* border: 2px solid green; */
    /* width: 500px; */
    z-index: 2;
}

.name {
    /* border: 2px solid red; */
    margin: 12px 0;
    font-size: 3rem;
}

.name .one {
    /* border: 2px solid yellow; */
    color: #888896;
    font-family: 'Roboto', sans-serif;
}

.name .two {
    /* border: 2px solid orangered; */
    margin: 6px 0;
    font-weight: 900;
    font-family: 'IBM Plex Sans', sans-serif;
    /* position: relative;
    z-index: 2; */

}

.border-line {
    margin: 15px 0;
    border-bottom: 3px solid #fbbc28;
    width: 200px;
}

.description {
    /* border: 2px solid yellow; */
    color: #8b8897;
    width: 322px;
    font-family: 'ABeeZee', sans-serif;
    line-height: 1.3;
}

.services {
    /* border: 2px solid green; */
    height: 190px;
    /* padding: 12px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* margin-bottom: 90px; */
    z-index: 3;
}

.services .heading {
    /* border: 2px solid green; */
    font-size: 18px;
    color: #bab9c8;
    font-family: 'Baloo 2', cursive;
}

.services .item {
    /* border: 2px solid red; */
    color: #c0c0ce;
    width: 400px;
    font-family: 'ABeeZee', sans-serif;

}

.link {
    /* border: 2px solid purple; */
    display: flex;
    align-items: center;
}

.link a {
    color: #ffb71f;
}

.link img {
    width: 20px;
    filter: invert(77%) sepia(92%) saturate(2605%) hue-rotate(339deg) brightness(100%) contrast(102%);
    margin: 7px 0px 0 10px;
}

.social-icons {
    /* border: 2px solid palevioletred; */
    display: flex;
    justify-content: space-between;
    width: 150px;
}

.icon-container {
    background-color: #48495c;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-container img {
    margin: 0 auto;
    width: 15px;
    filter: invert(86%) sepia(12%) saturate(5437%) hue-rotate(337deg) brightness(99%) contrast(105%);
}

.circle {
    width: 350px;
    height: 335px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #2d2d39;
    position: absolute;
    left: 410px;
    top: -25px;
}

.my-dp img {
    width: 360px;
    position: absolute;
    top: 1px;
    right: -4px;
    z-index: 2;
}

/* Lower Part */

.lower {
    /* border: 2px solid red; */
    position: relative;
}

.lower::before {
    content: "";
    background-color: #282834;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.lower-part {
    /* border: 2px solid blue; */
    margin: 0px 65px;
    padding: 95px 94px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.user-needs {
    /* border: 2px solid green; */
    width: 500px;
    padding: 23px 0;
}

.user-needs h3 {
    /* border: 2px solid blue; */
    font-size: 1.6rem;
    font-family: 'IBM Plex Sans', sans-serif;
}

.user-needs>p {
    /* border: 2px solid green; */
    color: #9898a4;
    margin: 20px 0;
    width: 400px;
    line-height: 1.3
}

.mywork-container {
    /* border: 2px solid yellow; */
    display: flex;
    flex-wrap: wrap;
}

.mywork-items {
    /* border: 2px solid green; */
    width: 200px;
    margin-top: 4px;
}

.mywork-items h4 {
    /* border: 2px solid red; */
    color: #e7aa2d;
    font-size: 18px;
    font-weight: bold;

}

.mywork-items p {
    /* border: 2px solid red; */
    color: #9898a4;
    margin: 6px 0;
    font-size: 14px;
}

.project-container {
    /* border: 2px solid orange; */
    /* width: 500px; */
    padding: 4px 0;
}

.project-container hr {
    width: 420px;
    margin: 12px 0;
}

.my-projects {
    /* border: 2px solid red; */
    margin: 5px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.img img {
    width: 100px;
    height: 67px;
}

.name-and-number {
    /* border: 2px solid green; */
    margin-left: 12px;
}

.name-and-number h5 {
    color: #dedfe9;
    font-size: 16px;
    font-family: 'Baloo 2', cursive;

}

.name-and-number p {
    color: #8b8b97;
    font-size: 13px;
    margin: 4px 0;
}

.arrow img {
    width: 20px;
    filter: invert(77%) sepia(92%) saturate(2605%) hue-rotate(339deg) brightness(100%) contrast(102%);
}

.arrow {
    /* border: 2px solid blue; */
    position: absolute;
    right: 20px;

}

.box-parent {
    /* border: 2px solid red; */
    padding: 13px 94px 40px;
    margin: 50px 65px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.box {
    /* border: 2px solid blue; */
    width: 250px;
    height: 200px;
    background-color: #403f51;
    box-shadow: 0px 0px 10px 0px rgb(17, 17, 17);
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.icon-and-discription {
    /* border: 2px solid green; */
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.icon-bg-div {
    background-color: #252b39;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.icon img {
    width: 20px;
    filter: invert(77%) sepia(92%) saturate(2605%) hue-rotate(339deg) brightness(100%) contrast(102%);
}

.type-of-work {
    /* border: 2px solid RED; */
    margin: 20px 0 0 0;
}

.type-of-work h4 {
    /* font-family: 'Baloo 2', cursive; */
    font-family: 'Murecho', sans-serif;
    font-size: 1.2rem;
    color: #dedfe9;
}

.type-of-work p {
    color: #9c9ca8;
    margin: 12px 0 0 0;
}

.show-more {
    /* border: 2px solid orange; */
    margin: 20px 0 0 0;
    display: flex;
}

.show-more a {
    color: #fcbf3d;

}

.show-more img {
    /* border: 2px solid green; */
    width: 20px;
    filter: invert(77%) sepia(92%) saturate(2605%) hue-rotate(339deg) brightness(100%) contrast(102%);
    margin: 0 15px;
    position: relative;
    top: 2.5px;
}

.mid-container {
    background-color: #3f3c4f;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    margin: 0 auto;
    padding: 18px 10px;
    position: absolute;
    top: 411px;
    /* top: 411px;
    left: 142.85px; */
    left: 50%;
    transform: translate(-50%);
    box-shadow: 0px 0px 10px 0px rgb(17 17 17);
    z-index: 3;
}

.mid-container-items {
    /* border: 2px solid green; */
    background-color: #363543;
    width: 8%;
    height: 22px;
    /* margin: 0 21px; */
    padding: 10px 41px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mid-container p {
    margin: 4px;
}

.mid-container-items img {
    width: 20px;
}

#google-img {
    width: 60px;
}

#linkedin-img {
    width: 15px;
}

#slack p {
    font-weight: bold;
}

hr {
    /* color: rebeccapurple; */
    border-color: grey;

}

@media screen and (max-width:1315px) {
    .circle {
        opacity: 0.5;
    }
}